.gradle
build/
out/
.kotlin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

local.properties

.idea/
*.iml

*.DS_Store

### MkDocs ###
docs/api
site

# file is copied automatically based on the readme
docs/index.md
