site_name: Gradle Maven Publish Plugin
site_url: https://vanniktech.github.io/gradle-maven-publish-plugin/
repo_name: gradle-maven-publish-plugin
repo_url: https://github.com/vanniktech/gradle-maven-publish-plugin
site_author: Niklas Baudy
edit_uri: edit/main/docs

copyright: 'Copyright (C) 2018 Vanniktech - Niklas Baudy'

theme:
  name: 'material'
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: 'white'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: 'black'
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: 'Lato'
    code: 'JetBrains Mono'
  features:
    - navigation.sections
    - navigation.tracking
    - navigation.tabs
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - toc.integrate
    - content.action.edit

nav:
  - 'index.md'
  - 'central.md'
  - 'other.md'
  - 'base.md'
  - 'changelog.md'
  - 'API': api/index.html

markdown_extensions:
  - smarty
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tilde
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
