name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: JDK ${{ matrix.java_version }}, Config ${{ matrix.test_config_method }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java_version: [11, 17, 21]
        test_config_method: ["DSL", "PROPERTIES", "BASE"]

    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java_version }}

      - name: Accept Android SDK license
        run: yes | "$ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager" --licenses

      - uses: gradle/actions/setup-gradle@v3
        with:
          validate-wrappers: true

      - name: Build with Gradle
        run: ./gradlew build --stacktrace -DtestConfigMethod=${{ matrix.test_config_method }}
