name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: JDK ${{ matrix.java_version }}, Config ${{ matrix.test_config_method }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java_version: [11, 17, 24]
        test_config_method: ["DSL", "PROPERTIES", "BASE"]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ matrix.java_version }}

      - name: Accept Android SDK license
        run: echo -e "24333f8a63b6825ea9c5514f83c2829b004d1fee\n" > "$ANDROID_HOME/licenses/android-sdk-license"

      - uses: gradle/actions/setup-gradle@v5

      - name: Run ktlint
        run: ./kotlinw ktlint.main.kts --fail-on-changes
        if: ${{ matrix.java_version != '11' }}

      - name: Build with Gradle
        run: ./gradlew build --stacktrace -DtestConfigMethod=${{ matrix.test_config_method }}
