name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: JDK ${{ matrix.test_java_version }}, Config ${{ matrix.test_config_method }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test_java_version:
          - 17 # Minimum supported version.
          - latest # Latest supported version, the value syncs with the .java-version file.
        test_config_method: ["DSL", "PROPERTIES", "BASE"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version-file: .github/workflows/.java-version

      - name: Accept Android SDK license
        run: echo -e "24333f8a63b6825ea9c5514f83c2829b004d1fee\n" > "$ANDROID_HOME/licenses/android-sdk-license"

      - uses: gradle/actions/setup-gradle@v5

      - name: Run ktlint
        run: ./kotlinw ktlint.main.kts --fail-on-changes

      - name: Build with Gradle
        run: ./gradlew build --stacktrace -PtestJavaVersion=${{ matrix.test_java_version }} -PtestConfigMethod=${{ matrix.test_config_method }}

  # Status check that is required in branch protection rules.
  build-status:
    needs:
      - build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            echo "One or more required jobs failed"
            exit 1
          fi
          echo "All required jobs completed successfully."
