name: Publish Docs

on:
  push:
    branches:
      - main
  # TODO: replace with on push tag https://github.com/actions/deploy-pages/issues/76
  workflow_run:
    workflows: [Publish Release]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:

    runs-on: ubuntu-latest
    if: github.repository == 'vanniktech/gradle-maven-publish-plugin'

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 25

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install MkDocs Material
        run: pip install mkdocs-material

      - name: Copy docs
        run: |
          cp README.md docs/index.md
          cp CHANGELOG.md docs/changelog.md
          # Update page title
          sed -i 's/# gradle-maven-publish-plugin/# Overview/' docs/index.md
          # Update plugin version
          sed -i "s/<latest-version>/$(git describe --tags --abbrev=0)/" docs/base.md
          sed -i "s/<latest-version>/$(git describe --tags --abbrev=0)/" docs/central.md
          sed -i "s/<latest-version>/$(git describe --tags --abbrev=0)/" docs/other.md

      - name: Generate API documentation
        run: ./gradlew dokkaGenerate

      - name: Build MkDocs
        run: mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
