name: Publish Docs

on:
  push:
    branches:
      - master

jobs:
  deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install mkdocs material
        run: pip install mkdocs-material

      - name: Copy docs
        run: |
          cp README.md docs/index.md
          # Fix relative paths
          sed -i 's/docs\///' docs/index.md
          # Update page time
          sed -i 's/# gradle-maven-publish-plugin/# Overview/' docs/index.md

      - name: Build MkDocs
        run: mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
