name: Publish Release

on:
  push:
    tags:
      - '**'

jobs:
  publish:

    runs-on: ubuntu-latest
    if: github.repository == 'vanniktech/gradle-maven-publish-plugin'
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version-file: .github/workflows/.java-version

      - name: Set version for tag
        run: |
          echo "ORG_GRADLE_PROJECT_VERSION_NAME=${{ github.ref_name }}" >> $GITHUB_ENV

      - uses: gradle/actions/setup-gradle@v5

      - name: Publish
        run: ./gradlew publishToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}

      - name: Extract release notes
        uses: ffurrer2/extract-release-notes@v3
        with:
          changelog_file: CHANGELOG.md
          release_notes_file: RELEASE_NOTES.md
          prerelease: ${{ contains(github.ref_name, 'rc') }}

      - name: Create prerelease
        if: ${{ contains(github.ref_name, 'rc') }}
        run: gh release create "${{ github.ref_name }}" --notes-file RELEASE_NOTES.md --prerelease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create final release
        if: ${{ !contains(github.ref_name, 'rc') }}
        run: gh release create "${{ github.ref_name }}" --notes-file RELEASE_NOTES.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
